@page "/"
@using TelerikBlazorApp1.Client.Services
@inject IComputerVisionService visionService;

<TelerikDropZone Id="dropzone-id">
</TelerikDropZone>

<TelerikUpload DropZoneId="dropzone-id"
               SaveUrl="/upload"
               MaxFileSize="@( 16 * 1024 * 1024 )"
               OnSuccess="@OnUploadSuccess" />

<p>@color</p>

@code {
    string? imgUrl;
    string? color;
    private void OnUploadSuccess(UploadSuccessEventArgs args)
    {
        if (args.Operation == UploadOperationType.Upload)
        {
            color = args.Request.ResponseText;
            imgUrl = args.Files.First().Name;
        }
    }
}
