@page "/theme"
@inject ThemeState ThemeState
@inject CardState CardState

<div class="pin-layout">

    <CardListView Data="CardState.Data"
                  OnDisliked="OnDisliked"
                  OnLiked="OnLiked"
                  OnSetAsTheme="OnSetAsTheme" />

    <CardSkeleton IsLoading="isLoading" />

    <TelerikCard Width="calc(500px + 1em)">
        <CardBody>
            <TelerikDropZone Id="dropzone-id">
            </TelerikDropZone>

            <TelerikUpload DropZoneId="dropzone-id"
                           OnUpload="OnUpload"
                           OnSuccess="@OnUploadSuccess"
                           OnError="OnError"
                           SaveUrl="/upload"
                           MaxFileSize="@( 16 * 1024 * 1024 )"
                           AllowedExtensions="@(new List<string>() { ".jpg", ".png" })" />
        </CardBody>
        <CardActions>
            <TelerikButton OnClick="ClearData" ThemeColor="@(ThemeConstants.Button.ThemeColor.Warning)">Clear Data</TelerikButton>
        </CardActions>
    </TelerikCard>

</div>


