@inherits LayoutComponentBase
@inject ThemeState ThemeState
<TelerikRootComponent>
    <div class="page" style="@ThemeState.CreateTheme(ThemeState.ThemeColor)">
        <main>
            <TelerikAppBar>
                <AppBarSection>
                         <h1>Telerik UI for Blazor</h1>
                </AppBarSection>
                   <AppBarSpacer />
                <AppBarSection>
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <TelerikSvgIcon Icon="@SvgIcon.Sparkles"/> AI Prompt
                        </NavLink>
                        <NavLink class="nav-link" href="/theme" >
                            <TelerikSvgIcon Icon="@SvgIcon.ImageAdd" /> Dynamic Theme
                        </NavLink>
                </AppBarSection>
            </TelerikAppBar>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</TelerikRootComponent>

@code {
    protected override Task OnInitializedAsync()
    {
        ThemeState.OnChange += StateHasChanged;
        return base.OnInitializedAsync();
    }
}